
  <h2 class="ms-2 p-2 mt-5">{{data}}</h2>
    <div class="container bg-black w-50 rounded text-center mt-5  p-2 border border-white ">
        <h1 class="text-center text-white">Sign In TO Your Bank Account</h1>
        <form action="" [formGroup]="loginForm" (ngSubmit)="login()" class="">
                <div class="mt-2 p-3">
                <input formControlName="acno"   type="text" id="acid" name="acnum1" class="form-control" [placeholder]="inputplaceholder">
            </div>
            <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched">
              <p class="text-danger "> accept only characters</p>
            </div>
      
           <div class="mt-2 p-3">
            <input formControlName="psw"  type="password" id="psw1" name="paswrd1" class="form-control" placeholder="Password">
           </div>
           <div *ngIf="this.loginForm.get('psw')?.errors && this.loginForm.get('psw')?.touched">
            <p class="text-danger "> accept only numbers and characters</p>
          </div>
    
           <div class="mt-2 p-3">
            <button class="btn btn-outline-warning "  type="submit"> Login</button>
           </div>

           <div class="text-center text-white">
           <b> Not Registered ? </b> <a style="text-decoration: none;" routerLink="register"><b>Register</b></a>
           </div>
    </form>
    </div>

