/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://i.postimg.cc/0Q00r0q0/bank-icon-filled-in-by-electronic-circuit-digital-bank-concept-for-digital-banking-service-blue-and.webp"); 
    background-position: top;
     background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: contain; */
}

/* .image{
width: 100%;
background-repeat: no-repeat;
background-size:cover;
} */

.style{
    opacity: 0;
}