<div class="container bg-dark w-50 rounded text-center mt-5  p-2 ">
    <h1 class="text-center text-white">Sign Up TO Bank </h1>
    <form action="" class="border border-dark">
            <div class="mt-2 p-3">
            <input [(ngModel)]="uname"   type="text" id="unamid" name="usern1" class="form-control" placeholder="Enter Username">
       
        </div>
       <div class="mt-2 p-3">
        <input [(ngModel)]="acno"  type="password" id="acid" name="acnum1" class="form-control" placeholder="Enter Ac Num">

       </div>
       <div class="mt-2 p-3">
        <input [(ngModel)]="psw"  type="password" id="psw1" name="paswrd1" class="form-control" placeholder="Enter Password">

       </div>

       <div class="mt-2 p-3">
        <button class="btn btn-outline-warning " (click)="register()"  type="button">Register</button>
       </div>
</form>>
</div>

                                                                                